:root {
  --background: #fff6ef;
  --foreground: #171717;
}

html,
body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-baloo-2), serif;
}

a {
  color: inherit;
  text-decoration: none;
}
