.page {
  height: calc(100svh - 80px);
  max-width: 1440px;
  margin: 40px auto;
  font-synthesis: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttonsWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pillButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 999px;
  background-color: #fceee4;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
}

.pillButton:hover {
  background-color: #ffd36b;
  transform: translateY(-2px);
}

.heroSection {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  align-items: center;
  justify-content: space-between;
}

.valueProposition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.valueProposition > .heading {
  font-size: 76px;
  line-height: 80px;
  margin:0;
}
.valueProposition > .heading:after {
  content: ".";
}

.valueProposition > .heading:last-of-type{
  margin-bottom: 20px;
}

.valueProposition > .pre {
  white-space: pre-wrap;
  font-weight: 500;
}

.valueProposition > .doodleContainer {
  width: 388px;
  border-radius: 25px;
  border: solid 16px #fff;
  margin-top: 20px;
}

.doodleContainer > .doodleWrap {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  position: relative;
}

@media (max-width: 800px) {
  .page {
    max-width: 100vw;
    margin: 40px 20px;
  }
}